body {
    margin: 60px auto;
    width: 70%;
    color: #eeeeee;
    background-color: black;
}
header{
    text-align: right;
    display: flex;
    align-items: center;
}
header .name{
    width: 25%;
    text-align: left;
    font-size: 22px;
    font-family: 'Dejavu Sans', 'Arial';
    font-weight: bold;
}
nav ul,  {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    float: right;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
footer ul li {
    display: inline;
    margin-left: 20px;
}
a {
    text-decoration: none;
    color: rgb(209, 95, 95);
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #eeeeee;
}
footer {
    border-top: 1px solid #eeeeee;


    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
    font-size: 1.5em;
}

.publications {
    font-size: 1.5em;
    color: #eeeeee;
    list-style: none;
    margin-left: 10px;
}

.publications li {
    margin-bottom: 10px;
}

.teaching {
    font-size: 1.5em;
    color: #eeeeee;
    margin-left: 10px;
    list-style-type: square;
}

label {
    float: left;
    margin: 0 0 0 -70px;
}