<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/main.css">
		{% seo %}
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="/"><b>Antonio Silveti-Falls</b></a></li>
        		<li><a href="/publications">Publications</a></li>
        		<li><a href="/talks">Talks</a></li>
        		<li><a href="/teaching">Teaching</a></li>
			<li><a href="/cv">CV</a></li>
			<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
			<div class="container">
			    		<div class="blurb">

			            {{ content }}
                
			    		</div><!-- /.blurb -->
			</div><!-- /.container -->
		<footer>
    		<ul>
        		<li>Email: tonys[dot]falls[at]gmail[dot]com</li>
        		<li><a href="https://scholar.google.com/citations?user=t8GKm5kAAAAJ&hl=fr&oi=ao">Google Scholar</a></li>
				<li><a href="https://arxiv.org/search/?query=silveti-falls+antonio&searchtype=all&source=header">arXiv</a></li>
				<li><a href="https://twitter.com/tonysilveti">Twitter</a></li>
				<li><a href="https://www.researchgate.net/profile/Tony-Silveti-Falls">ResearchGate</a></li>
				<li><a href="https://www.mathgenealogy.org/id.php?id=271228">Math Genealogy</a></li>
				<li>Page last updated: June 18th, 2022.</li>
			</ul>
		</footer>
	</body>
</html>
